# This role handles basic OS prep.
---
- name: Update all packages
  yum:
    name: "*"
    state: latest
  become: true

- name: Install common tools
  yum:
    name:
      - git
      - jq
      - curl
      - htop
      - telnet
    state: present
  become: true

- name: Ensure chronyd is installed fo time sync
  yum:
    name: chrony
    state: present
  become: true

- name: Enable and start chronyd
  systemd:
    name: chronyd
    enabled: yes
    state: started
  become: true