# EC2 monitor box will:
# - Stream logs to CloudWatch Logs.
# - Send system metrics to CloudWatch Metrics.
---
- name: Ensure CloudWatch agent directory exists
  file:
    path: /opt/aws/amazon-cloudwatch-agent/etc
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: yes

- name: Deploy CloudWatch agent configuration
  template:
    src: config.json.j2
    dest: /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Restart CloudWatch agent with new config
  command: >
    /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a stop
  ignore_errors: true
  become: yes

- name: Start CloudWatch agent using new config
  command: >
    /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl 
    -a start 
    -m ec2 
    -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s
  become: yes