- hosts: web
  become: yes
  tasks:
    - name: Ensure Docker is installed
      yum:
        name: docker
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull and run React Calculator container
      docker_container:
        name: react-calculator
        image: imshubhamkaushik/react-calculator:latest
        ports:
          - "80:80"
        state: started
